:root {
    --boreder-color-active: #ED5517;
    --boreder-color-hidden: #CDCDCD;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 104px;
    width: 80px;

    border: 1px solid #0A0A0C;
    border-radius: 8px;

    font-size: 24px;
    font-weight: 700;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 4px 6px -6px black;
}

.hidden {
    border-color: var(--boreder-color-hidden);
}

.active {
    border-color: var(--boreder-color-active);
}